:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin:5px;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F9AB55;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: yellow;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


html, body, #root {
  width: 100%;
  height: 100%;
}

.box {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.navBar {
  background-color: white;
  color: black;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100%;
}

.navBar ul {
  list-style: none;

}

.navBar ul li {
  font-weight: 600;
}




h1 {
  color: #1C1D21;
  padding: 10px;
}


.side {
  display: flex;
  width: 100%;
}


.sidebar {
  width: 250px;
  background-color: white;
  padding: 20px;
  min-height: 80vh; 
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}


.sidebar ul li {
  cursor: pointer;
}

.sidebar ul li:hover {
  font-weight: bold;
}


.content {
  padding: 20px;
  color: #1C1D21;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer{
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.items {
  color: #1C1D21;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border: 2px solid #1C1D21;
  margin: 2px;
  border-radius: 12px;
}

.product{
  color: #1C1D21;
}

.productImg{
  width: 300px;
}

input {
  background-color: #F7F5FB;
  color: #242424;
  font-size: 15px;
  font-weight: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px 24px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #FFFFFF;
  border: 2px solid #1B1B1B
}

textarea:focus, input:focus{
  outline: none;
  background: #F9E450;
  border: 3px solid #1B1B1B;
  border-radius: 12px;
}

label {
  font-weight: 600;
}

